In [6]:
import pandas as pd
import numpy as np

profession= pd.read_excel('profession.xlsx')

In [7]:
profession.head()

,doctor,nurse,engineer,vaterinary doctor,architecture,pilot,agricultural scientist,government jobs,pharmacist,accountant,...,SEO Analyst,Fashion/interior designer,creative diractor,journalist,growth hacker,social worker,social media manager,event manager.1,Unnamed: 28,streams
0,0,0,0,0,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,arts
1,0,0,0,0,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,arts
2,0,0,0,0,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,arts
3,0,0,0,0,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,arts
4,0,0,0,0,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,arts

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(profession.drop('streams',axis=1), 
                                                    profession['streams'], test_size=0.30, 
                                                    random_state=101)

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression()

In [12]:
predictions = logmodel.predict(X_test)

In [13]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

        arts       1.00      1.00      1.00       305
    commerce       1.00      1.00      1.00       280
     medical       1.00      1.00      1.00       299
 non medical       1.00      1.00      1.00       316

    accuracy                           1.00      1200
   macro avg       1.00      1.00      1.00      1200
weighted avg       1.00      1.00      1.00      1200

In [17]:
prediction = logmodel.predict((np.array([[0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])))
print('Suggested stream for u :',prediction)

Suggested stream for u : ['non medical']